<div class='container-fluid row no-gutters'>

    <div class='col-12 border bg-light shadow p-3 mb-4 d-flex justify-content-between'>
        <div> Question {{ questionIndex + 1 }} of {{ questions.length }} </div>
        <div> {{ totalCorrect }} Correct</div>
    </div>

    <div class='col-xs-12 col-md-6 offset-md-3 row no-gutters p-4 bg-white border shadow rounded' style="height: 50vh;">
        <div class='col-12 row no-gutters py-3'>
            <div class='col-12 d-flex justify-content-center text-responsive'>
                {{ question.detail }}
            </div>
            <div class='col-12 d-flex justify-content-center'>
                <input
                    [(ngModel)]='currentAnswer'
                    (input)="onQuestionAnswer.next()"
                    (keyUp.enter)="nextQuestion()"
                    name='currentAnswer'
                    type='text'
                    class='text-center form-control'
                    placeholder='Your Answer...'>
            </div>
        </div>
        <div class='col-12 d-flex justify-content-between mt-auto'>
            <i class="fas fa-5x fa-check icon-no-result" [ngClass]='{
                "text-success": question.correct
            }'></i>
            <i class="fas fa-5x fa-times icon-no-result" [ngClass]='{
                "text-danger": question.correct === false
            }'></i>
        </div>
    </div>

    <div class='col-12 d-flex justify-content-between p-3 border bg-white shadow mt-4'>
        <button class='btn btn-c-primary' (click)="previousQuestion()">
            <i class='fas fa-lg fa-arrow-left'> </i> Previous Question
        </button>
        <button class='btn btn-c-primary' (click)="nextQuestion()">
            Next Question <i class='fas fa-lg fa-arrow-right'> </i>
        </button>
    </div>
</div>
