/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins-Regular.ttf');
}

body {
    height: 100vh;
    font-family: "Poppins";
    letter-spacing: 1px;
    background-color: #f7f0f0;
}

.fa-count {
    font-family: inherit;
    &::before {
        content: "1 2 3";
        font-family: inherit;
    }
}

a.no-style {
    color: inherit;
    text-decoration: inherit;

    &:hover {
        text-decoration: inherit;
        cursor: inherit;
    }
}

.btn-c-primary {
    background-color: #8F2D56;
    color: white;
}
.btn-c-primary:hover  {
    color: white;
    filter: brightness(0.9);
    transition: 0.2s;
}
.bg-c-primary {
    background-color: #8F2D56;
}

.text-c-primary {
    color: #8F2D56;
}
.bg-c-secondary {
    background-color: #218380;
}
.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}
