/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    height: 100vh;
}

.fa-count {
    font-family: inherit;
    &::before {
        content: "1 2 3";
        font-family: inherit;
    }
}

a.no-style {
    color: inherit;
    text-decoration: inherit;

    &:hover {
        text-decoration: inherit;
        cursor: inherit;
    }
}
