    /* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import './variables.scss';

@font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins-Regular.ttf');
}

body {
    height: 100vh;
    font-family: "Poppins";
    letter-spacing: 1px;
    background-color: #f7f0f0;
}

.fa-count {
    font-family: inherit;
    &::before {
        content: "1 2 3";
        font-family: inherit;
    }
}

a.no-style {
    color: inherit;
    text-decoration: inherit;

    &:hover {
        text-decoration: inherit;
        cursor: inherit;
    }
}

.btn-c-primary {
    &:hover  {
        color: white;
        filter: brightness(0.9);
        transition: 0.2s;
    }

    background-color: $c-primary;
    color: white;
}

.bg-c-primary {
    background-color: $c-primary;
}

.text-c-primary {
    color: $c-primary;
}

.bg-c-secondary {
    background-color: $c-secondary;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}


.btn-c-tertiary {
    &:hover {
        color: white;
        filter: brightness(0.9);
        transition: 0.2s;
    }

    background-color: $c-tertiary;
    border-color: $c-tertiary;
    color: #fff;
}
